<% if !@user.has_clients%>

<section>

  <h2>You currently do not have any clients</h2>
  <p>Click Add Client to add new one!</p>
  <h4>
    <%= link_to 'Add Client', new_user_client_path(@user)%>
  </h4>
  <br>

</section>

<% else %>

<section>
  <h2>Your Clients!</h2>
  <h4>
    <%= link_to 'New Client', new_user_client_path(@user)%>
  </h4>
  <br>

  <div id='clientContainer' data-user_id="<%= current_user.id %>">
  </div>

  <!-- <nav>
    <ul>
      <% @clients.each do |client|%>
        <li>
          <h3>
            <%= link_to client.name, user_client_path(@user, client) %>
          </h3>
        </li>
      <% end %>
    </ul>
  </nav> -->

</section>
<% end %>
