<h4>
  <%= link_to 'Edit Client', edit_user_client_path(@client.user_id, @client) %>
</h4>
<br>

<div id='clientContainer' data-user_id="<%= current_user.id %>" data-client_id="<%= @client.id %>">
</div>
<script>
  (function() {
    const {user_id, client_id} = document.getElementById('clientContainer').dataset;

    const checkStatus = response =>
      (response.status === 200)
      ? Promise.resolve(response)
      : Promise.reject(new Error(response.statusText));

    fetch(`http://localhost:3000/users/${user_id}/clients/${client_id}.json`)
    .then(checkStatus)
    .then(res => res.json())
    .then(data => {
      const {id, name, gender, age, weight, height, schedules, user} = data;

      new Client(id, name, gender, age, weight, height, schedules, user);
    })
    .catch(err => {
      console.log(err);
      alert('Has some issues to handle your request.');
    });
  })()
</script>
